@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/JoelCookieMgr/CookieMgr.js"></script>
    <script src="~/Scripts/JoelCookieMgr/App.js"></script>

</head>
<body>
    </body>
</html>
